---
Checks: "*,
         -abseil-*,
         -altera-*,
         -android-*,
         -fuchsia-*,
         -google-*,
         -llvm*,
         -zircon-*,
         -modernize-use-trailing-return-type,
         -readability-else-after-return,
         -readability-static-accessed-through-instance,
         -readability-avoid-const-params-in-decls,
         -readability-identifier-length,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -cppcoreguidelines-pro-type-union-access,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -misc-non-private-member-variables-in-classes,
         -bugprone-forwarding-reference-overload,
         -hicpp-move-const-arg,
"
HeaderFilterRegex: '.*/sumty/.*'
FormatStyle: file
